
 
  body {
    background: #e00000; 
  background: -webkit-linear-gradient(to right, #71dc74, #DCE35B); 
  background: linear-gradient(to right, #45B649, #DCE35B); 
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }
  
  .card {
    background: #030c3a;
    border-radius: 30px;
    height: 650px;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color:#DCE35B;
  }
  
  @media only screen and (min-width: 1000px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      max-height: none;
      max-width: 50vw;
      border-radius: 30px;
    }
  }
  
  @media only screen and (max-height: 640px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  img.birthday {
    max-height: 40vh;
    
  }
  
  .text {
    padding: 3em;
  }
  .text h1{
    font-family:cursive;
    font-size: 40px;
  }

  .credit {
      margin-top: 80px;
      text-align: center;
      font-size: larger;
      
  }
  .Wish{margin-top: 50px;
    color: #ff8800;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:larger;

  }
 

   
  
  